@model CarSystem.Web.Models.Advert.AdvertCreateViewModel
@{
    ViewBag.Title = "Create an Advert";
}
<div class="well well-sm">
    <h3 class="text-center text-info">@ViewBag.Title</h3>
</div>

@using (Html.BeginForm("Create", "Advert", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="jumbotron">
        <div class="form-group">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(m => m.Title, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.VehicleModelId, new { @class = "col-lg-2 control-label" })
            <div class="col-md-5">
                @Html.DropDownList("VehicleModelId", ViewBag.VehicleModels as SelectList, "All")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Year, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(m => m.Year, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Price, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(m => m.Price, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Power, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(m => m.Power, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.DistanceCoverage, new { @class = "col-md-2 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(m => m.DistanceCoverage, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CityId, new { @class = "col-lg-2 control-label" })
            <div class="col-md-5">
                @Html.DropDownList("CityId", ViewBag.Cities as SelectList, "All")
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label"})
            <div class="col-md-5">
                @Html.EditorFor(m => m.Description, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Images", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                <input type="file" class="btn btn-primary" id="Picture" name="uploadedFiles" multiple="multiple" />
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create an Advert" />
            <input type="reset" class="btn btn-default" value="Cancel" />
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
